/* Add CSS Styling */
.odd-numbered {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.medium-text {
    font-size: 24px;
}

#blue-text {
    color: blue;
    font-size: 36px;
}

#light-green-bgcolor {
    background-color: lightgreen;
    font-weight: bold;
}
