/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  /* mysolution: making header as flexbox */
  display: flex;
  align-items: center;
}

/* mysolution: enough margin to create space between logo & ul */
.logo, ul {
  margin: 10px;
}

/* mysolution: margin-left as "auto" to push the notification button
   to the right end (exclusively applicable to flex-items) */
.notifications {
  margin: 10px;
  margin-left: auto;
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  /* mysolution: to prevent the circular profile image from warping */
  flex-shrink: 0;
  /* mysolution: enough margin for profile-image */
  margin: 10px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
  /* mysolution: to make the ul as "flexbox" */
  display: flex;
  /* mysolution: to remove the extra default padding in the ul */
  padding: 0;
  /* mysolution: gap adjustment between the links */
  gap: 10px;
}
